<!doctype html>
<html lang="en">
	<head><meta charset="utf-8">
		<title>AngularSerieManager</title>
		<base href="/">
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<link rel="icon" type="image/x-icon" href="favicon.ico">
		<link href="{{ url_for('static', filename='styles.c3c996c79d5abcf67108.bundle.css') }}" rel="stylesheet"/>
	</head>
	<body>
		<app-root></app-root>
		<script type="text/javascript" src="{{ url_for('static', filename='inline.735482311c62337472d9.bundle.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='polyfills.35726d60cdf25fecc5f1.bundle.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='scripts.da6de8bbb6199d9ca04b.bundle.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='vendor.880fd42d69a2217e4504.bundle.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='main.ed41b906af5c7698eb2c.bundle.js') }}"></script>
	</body>
</html>