<div class="col-sm-8 text-left"> 
	<h1>Users collection</h1>
	<hr>
	<div *ngIf="results" >
		<ul *ngFor="let item of collection; let i = index">
			<div class="container">    
				<div class="row">
					<div class="col-md-8">				
						<div class="panel panel-default  panel--styled">
							<div class="panel-body">
								<div class="col-md-12 panelTop">	
									<div class="col-md-4">	
										<img class="img-responsive" src="{{ item.picture }}" alt=""/>
									</div>
									<div class="col-md-8">	
										<h2>{{ i+1 }}. 
										<a routerLink="/serie/{{ item.title }}">{{ item.title }} </a></h2>
										<p>{{ item.description }}</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</ul>
	</div>


    <div *ngIf="!results">
    	<p>There are no series in your collection</p>
    </div>
</div>