<div class="col-sm-8 text-left"> 
  <h1>Dashboard</h1>
  <hr>
<div class="container">
  <h2>Users</h2>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Id</th>
        <th>Usersname</th>
        <th>Email</th>
        <th>Password</th>
      </tr>
    </thead>
    <tbody >
      <tr *ngFor="let item of users">
        <td>{{ item.id }}</td>
        <td>{{ item.username }}</td>
        <td>{{ item.email }}</td>
        <td>{{ item.password }}</td>
      </tr>
    </tbody>
  </table>
</div>

</div>