<div class="col-sm-8 text-left"> 
  <h1>Reactive</h1>
  <hr>
  <div class="container-fluid">
    <div class="row">
      <div class="Absolute-Center is-Responsive">
        <div id="logo-container"></div>
        <div class="col-sm-12 col-md-4 col-md-offset-4">
          <form 
          action="" 
          id="loginForm"
          #form="ngForm">

            <!-- username input -->
            <div class="form-group input-group">
              <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
              <!-- ngModel = control obect-->
              <input
                   required
                   pattern="^[a-zA-z]+$"
                   ngModel 
                   name= "username"
                   #username="ngModel"
                   class="form-control" 
                   type="text" 
                   name='username' 
                   placeholder="username"/> 

            </div>
            <div
              class="alert alert-danger"
              *ngIf="username.touched && !username.valid">
              <div
                *ngIf="username.errors.required">
                Username is required.
              </div>
              <div
                *ngIf="username.errors.pattern">
                Invalid characters.
              </div>
            </div>


            <!-- password input -->
            <div class="form-group input-group">
              <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
              <input  
                   required
                   pattern="^[a-zA-z]+$"
                   ngModel 
                   name= "password"
                   #password="ngModel"
                   class="form-control" 
                   type="text" 
                   name='password' 
                   placeholder="password"/>  
            </div>
            <div
              class="alert alert-danger"
              *ngIf="password.touched && !password.valid">
              <div
                *ngIf="password.errors.required">
                Password is required.
              </div>
              <div
                *ngIf="password.errors.pattern">
                Invalid characters.
              </div>
            </div>

            <div class="form-group">
              <button 
                type="button" 
                class="btn btn-def btn-block"
                                [disabled]="!form.valid"

                (click)="send()">
                Login
              </button>
            </div>

            <div class="form-group text-center">
              <a routerLink="/register">Register</a>
            </div>
          </form>        
        </div>  
      </div>    
    </div>
  </div>
</div>