<div class="col-sm-8 text-left"> 
  <h1>TV-Show information</h1>
  <hr>
  <ul *ngFor="let item of serie_information">
      <div class="container">    
		<div class="row">
			<div class="col-md-8">				
				<div class="panel panel-default  panel--styled">
					<div class="panel-body">
						<div class="col-md-12 panelTop">	
							<div class="col-md-4">	
								<img class="img-responsive" src="{{ item.url }}" alt="No Poster"/>
								<div class="top-buffer" *ngIf="login">
									<div *ngIf="col">
										<button type="button" 
												class="btn btn-danger"
												(click)="addToCollection(item.serie,item.description,item.url)">
												<span class="glyphicon glyphicon-minus"></span> Remove
										</button>
									</div>
									<div *ngIf="!col">
										<button type="button" 
												class="btn btn-primary"
												(click)="addToCollection(item.serie,item.description,item.url)">
												<span class="glyphicon glyphicon-plus"></span> Add 
										</button>
									</div>
								</div>
							</div>
							<div class="col-md-8">	
								<h2>{{ item.serie }}</h2>
								<p>{{ item.description }}</p>
							</div>
						</div>
						 
						<select class="selectpicker top-buffer season_selector" 
								[(ngModel)]="season"
             		 			name="season"
             		 			(change)="onChange($event.target.value)">
							<option 
								*ngFor="let season of fakeArray"> {{ season + 1 }}
							</option>
						</select>
						<ul class="list-group" *ngFor="let episode of f_episodes">
						  <li class="list-group-item">{{ episode.ep_number }}. {{ episode.title }}</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
    </div>
  </ul>
</div>