<div class="col-sm-8 text-left"> 
  <h1>Register</h1>
  <hr>
  <div class="container-fluid">
    <div class="row">
      <div class="Absolute-Center is-Responsive">
        <div id="logo-container"></div>
        <div class="col-sm-12 col-md-4 col-md-offset-4">
          <form 
          id="loginForm"
          #form="ngForm">

            <!-- username input -->
            <div class="form-group input-group">
              <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
              <!-- ngModel = control obect-->
              <input
                   required
                   pattern="^[a-zA-z]+$"
                   ngModel 
                   name= "username"
                   #username="ngModel"
                   class="form-control" 
                   type="text" 
                   name='username' 
                   [(ngModel)]="sUsername" 
                   placeholder="username"/> 

            </div>
            <div
              class="alert alert-danger"
              *ngIf="username.touched && !username.valid">
              <div
                *ngIf="username.errors.required">
                Username is required.
              </div>
              <div
                *ngIf="username.errors.pattern">
                Invalid username.
              </div>
            </div>

              <!-- email input -->
			      <div class="form-group input-group">
              <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>              <!-- ngModel = control object-->
              <input
                   required
                   pattern="^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$"
                   ngModel 
                   name= "email"
                   #email="ngModel"
                   class="form-control" 
                   type="text" 
                   name='email'
                   [(ngModel)]="sEmail"  
                   placeholder="email"/> 
            </div>
            <div
              class="alert alert-danger"
              *ngIf="email.touched && !email.valid">
              <div
                *ngIf="email.errors.required">
                email is required.
              </div>
              <div
                *ngIf="email.errors.pattern">
                Invalid email.
              </div>
            </div>

            <!-- password input -->
            <div class="form-group input-group">
              <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
              <input  
                   required
                   pattern="^([a-zA-z]|[0-9])+$"
                   ngModel 
                   name= "password"
                   #password="ngModel"
                   class="form-control" 
                   type="password" 
                   name='password'
                   [(ngModel)]="sPassword"  
                   placeholder="password"/>  
            </div>
            <div
              class="alert alert-danger"
              *ngIf="password.touched && !password.valid">
              <div
                *ngIf="password.errors.required">
                Password is required.
              </div>
              <div
                *ngIf="password.errors.pattern">
                Invalid password.
              </div>
            </div>

            <div class="form-group">
              <button 
                type="button" 
                class="btn btn-def btn-block"
                [disabled]="!form.valid"
                (click)="send()">
                Register
              </button>
            </div>
          </form>        
        </div>  
      </div>    
    </div>
  </div>
</div>